body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#header {
    background-color: #f0f0f0;
    color: #007BFF;
    padding: 30px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 80px;
}

#header h1 {
    margin: 0; 
    font-size: 24px; 
}

#header-buttons {
    display: flex; 
    gap: 10px; 
}

#header-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: #007BFF;
    border-radius: 5px;
}

#selection-bar {
    margin: 20px auto;
}

#selection-bar h2{
    color: white;
}

.instrument-box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.instrument {
    cursor: grab;
}

.instrument img {
    width: 100px;
    height: auto;
}

#drop-instructions {
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 22px;
    padding-left: 22px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    background-color: #f8f9fa;
}

#drop-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.drop-row, .stage-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.drop-slot {
    width: 120px;
    height: 120px;
    border: 2px solid #007BFF;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
}

.drop-slot.over {
    background-color: rgb(232, 232, 232);
}

.background-image {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
    filter: brightness(0.6); 
  }

  .instructions-info {
    color: #007BFF;
  }